<%= stylesheet_link_tag "current_profile" %>

<div id="my_page">
  <div id="persontabs">
    <% if current_person?(@person) %>
      <ul class="clearfix yellow">
        <%= tab_to "Profile", profile_path(@person, "profile"), :class => _("current") %>
        <%= tab_to "News", profile_path(@person, "news"), :class => _("current") %>
        <%= tab_to "Network", profile_path(@person, "network"), :class => _("current") %>
        <%= tab_to "Favorites", profile_path(@person, "favorites"), :class => _("current") %>
        <%= tab_to "Wall", profile_path(@person, "wall"), :class => _("current") %>
        <%= tab_to "Messages", profile_path(@person, "messages"), :class => _("current") %>
      </ul>
    <% else %>
      <ul class="clearfix green">
        <%= tab_to "Profile", profile_path(@person, "profile"), :class => _("current") %>
        <%= tab_to "Network", profile_path(@person, "network"), :class => _("current") %>
        <%= tab_to "Favorites", profile_path(@person, "favorites"), :class => _("current") %>
        <%= tab_to "Wall", profile_path(@person, "wall"), :class => _("current") %>
      </ul>
    <% end %>
  </div>   
</div>

<%- column_div :type => :primary do -%>
<div id="inbox">
  <div id="messages">

  <%= render :partial => 'message_nav' %>
  
  <%- if @messages.empty? -%>
    <h3 class="blankslate"><%= _("No messages (yet!)") %></h3>
  <%- else -%>
    <%= will_paginate :prev_label => "<span class='prev'><</span>", :next_label => "<span class='next'>></span>", :class =>"paginate" %>
    <%= render :partial => "message", :collection => @messages %>
    <%= will_paginate :prev_label => "<span class='prev'><</span>", :next_label => "<span class='next'>></span>", :class =>"paginate" %>
  <%- end -%>
  </div>
</div>

<%- end -%>