= stylesheet_link_tag "current_profile"
/ - column_div :type => :primary do
#inbox
  %h4 MESSAGES
  #messages
    = render :partial => 'message_nav' 
    #new_message
      %h4 New message
      - column_div :type => :primary do

        = error_messages_for :message
  
        - unless @preview.nil?
          %h3 Message preview
          = display @preview
  
        = image_link @recipient, :image => :thumbnail

        - form_for(:message, :url => person_messages_path(@recipient)) do |f|
          .form_row
            %label{ :for => "message_to" }To:
            %br
            -if current_person?(@recipient)
              = f.select :recipient, current_person.contacts.map{|c| [c.first_name + " " + c.name, c.id]}
            -else
              = text_field_tag :recipient, h(@recipient.name)
          .form_row
            %label{ :for => "message_subject" }Subject:
            %br
            = f.text_field :subject, :id => "message_subject"
          #message_row
            %label{ :for => "message_body" }Your message:
            %br
            = f.text_area :content, :id => "message_body"
            - if @message.reply?
              = f.hidden_field :parent_id
              = set_focus_to_id "message_body"
            - else
              = set_focus_to_id "message_subject"

            %p
              = formatting_note


          .form_row
            = f.submit "Send!", :class => "button", :id => "message_submit"
            = f.submit "Cancel", :class => "button", :id => "cancel"
            - if current_person?(@recipient) and current_person.admin?
              = f.submit "Send to all", :class => "button", :id => "all_people"