<% if current_person?(@person) %>
  <%= stylesheet_link_tag "current_profile" %>
<% end %>

<div id="my_page">
  <div id="persontabs">
    <% if current_person?(@person) %>
      <ul class="clearfix yellow">
        <%= tab_to "Profile", profile_path(@person, "profile"), :class => "current" %>
        <%= tab_to "News", profile_path(@person, "news"), :class => "current" %>
        <%= tab_to "Network", profile_path(@person, "network"), :class => "current" %>
        <%= tab_to "Favorites", profile_path(@person, "favorites"), :class => "current" %>
        <%= tab_to "Wall", profile_path(@person, "wall"), :class => "current" %>
        <%= tab_to "Messages", profile_path(@person, "messages"), :class => "current" %>
      </ul>
    <% else %>
      <ul class="clearfix green">
        <%= tab_to "Profile", profile_path(@person, "profile"), :class => "current" %>
        <%= tab_to "Network", profile_path(@person, "network"), :class => "current" %>
        <%= tab_to "Favorites", profile_path(@person, "favorites"), :class => "current" %>
        <%= tab_to "Wall", profile_path(@person, "wall"), :class => "current" %>
      </ul>
    <% end %>
  </div>   
</div>
        
<div id="inbox">
  <h4>MESSAGES</h4>
  <div id="messages">
<%- column_div :type => :primary do -%>
  <% if current_person?(@message.sender) %>
    <% other_person = @message.sender %>
    <% heading = "Message sent to #{h other_person.name}" %>
  <% else %>
    <% heading = "Message from #{h @message.sender.name}" %>
  <% end %>
  
  <%= render :partial => 'message_nav' %>

<%- if @talks.empty? -%>
    <h3 class="blankslate">No messages (yet!)</h3>
  <%- else -%>
    <%= render :partial => "talk", :collection => @talks %>
  <%- end -%>
</div>
</div>

<%- end -%>
