<h1><%= _("New connection") %></h1>

<%= error_messages_for :connection %>

<% form_for(@connection) do |f| %>
  <p>
    <b><%= _("Person") %></b><br />
    <%= f.text_field :person_id %>
  </p>

  <p>
    <b><%= _("Connection") %></b><br />
    <%= f.text_field :contact_id %>
  </p>

  <p>
    <b><%= _("Status") %></b><br />
    <%= f.text_field :status %>
  </p>

  <p>
    <%= f.submit _("Create") %>
  </p>
<% end %>

<%= link_to 'Back', connections_path %>
