<p>
  <b><%= _("Person:") %></b>
  <%=h @connection.person_id %>
</p>

<p>
  <b><%= _("Connection:") %></b>
  <%=h @connection.contact_id %>
</p>

<p>
  <b><%= _("Status:") %></b>
  <%=h @connection.status %>
</p>


<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
