<%- column_div :type => :primary do -%>

<table id="alpha_login">
	<tr>
		<td colspan="3"><%=image_tag "login_top.gif"%></td>
	</tr>
	<tr>
		<td rowspan="4" id='login_left'></td>
		<td>The social network for schools and designers</td>
		<td rowspan="4" id="login_right"></td>
	</tr>
	<tr>
		<td class="login_body">
		<span id="choice">
			Choose your language<br>
			Choisissez votre langue<br>
			Elige su idioma
		</span>
		<span id="languages">
			<%-form_for(:language, :url => { :action => :index }) do |form| %>
          		<%=image_submit_tag("flags/uk_on.jpg", :id => "uk", :onMouseOver => "this.src = '/images/flags/uk_on.jpg'") %>
          		<%=image_submit_tag("flags/fr_off.jpg", :id => "fr", :title => "Coming soon", :onMouseOver => "this.src = '/images/flags/fr_on.jpg'", :onMouseOut => "this.src = '/images/flags/fr_off.jpg'") %>
          		<%=image_submit_tag("flags/es_off.jpg", :id => "es", :title => "Coming soon", :onMouseOver => "this.src = '/images/flags/es_on.jpg'", :onMouseOut => "this.src = '/images/flags/es_off.jpg'") %>
          <%-end %>
		</span>
		</td>
	</tr>
	<tr>
		<td class="login_body">
		<div>Please enter your invitation code<br> for your first visit on Coaliz</div>
		  <%- form_tag coupon_validator_people_path do %>
			  <table id="invitation_form">
				  <tr><td>
					  <label for="invitation">Code</label>
					  <%=text_field_tag('invitation', params[:betacoupon]) %>
					  </td>
					  <td>
					  <%=image_submit_tag "login_arrow.gif" %>
					  </td>
				  </tr>
			  </table>
			<%- end %>
		</td>
	</tr>
	<tr>
		<td class="login_body">Please login to enter the alpha version
			<%-form_tag session_path do %>
				<table class="form_row">
					<tr>
					<td>
            			<label for="email" >Email</label>
            			<%=text_field_tag('email', params[:email], :maxlength => Person::MAX_EMAIL) %>
					</tr>
					<tr><td>
          		<%=set_focus_to_id "email"%>
            		<label for="password">Password</label>
            		<%=password_field_tag 'password', params[:password], :maxlength => Person::MAX_PASSWORD %>
					</td>
					<td>
					  <%= image_submit_tag "login_arrow.gif" %>
					</td>
					</tr>
				</table>
			<%- end %>
		</td>
	</tr>
	<tr>
		<td colspan="3" id="login_bottom">
		<%= link_to "contact" %>
		</td>
	</tr>
</table>
<%- end -%>