<h1><%= _("Editing comment") %></h1>

<%= error_messages_for :comment %>

<% form_for(@comment) do |f| %>
  <p>
    <b><%= _("Person") %></b><br />
    <%= f.text_field :person_id %>
  </p>

  <p>
    <b><%= _("Blog") %></b><br />
    <%= f.text_field :blog_id %>
  </p>

  <p>
    <b><%= _("Body") %></b><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <b><%= _("Type") %></b><br />
    <%= f.text_field :type %>
  </p>

  <p>
    <%= f.submit _("Update") %>
  </p>
<% end %>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', comments_path %>
