<p>
  <b><%= _("Person:") %></b>
  <%=h @comment.person_id %>
</p>

<p>
  <b><%= _("Blog:") %></b>
  <%=h @comment.blog_id %>
</p>

<p>
  <b><%= _("Body:") %></b>
  <%=h @comment.body %>
</p>

<p>
  <b><%= _("Type:") %></b>
  <%=h @comment.type %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
