-form_for @person do |f|
        .form_row
          %label{ :for => "person_website" } Website:
          = f.text_field :website

        .form_row    
          -unless @preview.nil?
            = display @preview
        
          %p
            %label{ :for => "person_description" } Description:
            %br
            = f.text_area :description
            %br
            = formatting_note
      
      #photo
        =render :partial => "photo"
        = button_to "Add a photo", new_photo_path, :id => "newphoto"