<div>
  <table class="comment_image">
	<tr>
		<td class="commenter_image" rowspan="2" >
          	<%= image_link(comment.commenter, :image => :minithumb) %>
        </td>
		<td class="commenter">
    		<%= person_link comment.commenter %>
		</td>
	</tr>
	<tr>
		<td class="time">
    		<%= comment.created_at.strftime("On <b>%m/%d/%Y</b>") %>
			<br>
    		<%= comment.created_at.strftime("at <b>%I:%M%p</b>") %>
		</td>
	</tr>
  </table>
  <table class = "comment">
	<tr><td colspan = "3" class = "head"></td>
	<tr><td class ="left_arrow"></td>
		<td rowspan = "2" class = "comment_body"><p><%= display comment.body %></p>
		<td rowspan = "2" class = "right_border"></td>
	<tr><td class = "bottom_left"></td>
	<tr><td colspan = "3" class = "bottom">
  			<%- if current_person?(comment.commentable) -%>
				<br />
  				<%= link_to image_tag("icons/trash.gif"), person_comment_path(@person, comment), :method => :delete %>
  				<%= link_to "Delete", person_comment_path(@person, comment), :method => :delete %>
  			<%- end -%>
		</td>
	</table>
</div>