<% if (person.id+3)%4 == 0 %>
  <tr>
<% end %>
<td>
    <%= image_link person, :class => "photo", :image => :thumbnail %>
    <table>
	  <tr>
		<td>
      		<p><b><%= person_link person, :class => "url fn" %></b></p>
    	</td>
	  <tr>
		<td class="count_common">
			<%- if person.common_connections_with(current_person).count-1 > 0 %>
				<%- if person.admin?%>
					<p><%= pluralize(person.common_connections_with(current_person).count, "common contact") %></p>
				<%- else %>
    				<p><%= pluralize(person.common_connections_with(current_person).count-1, "common contact") %></p>
				<%- end %>
			<%- else%>
			  &nbsp;
			<%- end %>
		</td>
	  <tr>
		<td class="add_cell">
			<%= link_to image_tag ("mini_add.gif"), person_connections_path(person), :method => :post %>
			<%= link_to "Add", person_connections_path(person), :method => :post %>
		</td>
	</table>
<% if person.id%4 == 0 or person.id == person.max %>
  </tr>
<% end %>