<% if (person.id+3)%4 == 0 %>
  <tr>
<% end %>
<td>
  <table>
	<tr>
	  <td rowspan="3" class="person_thumb">
    	<%= image_link person, :class => "photo", :image => :thumbnail %>
      </td>
	  <td>
      	<b><%= person_link person, :class => "url fn" %></b>
      </td>
	<tr>
		<td class="add_cell">
			<%- if logged_in?%>
				<%- if person.city #and person.country %>
					<%= person.city.capitalize %>
				<%- else %>
					&nbsp;
				<%- end%>
			<%- end %>
		</td>
	</tr>
	<tr>
		<td class="person_skill">
			<p>
			<%- if person.skills.empty? %>
			  &nbsp;
			<%- else %>
			  <%- content = "" %>
			  <%- for skill in person.skills do %>
				<%- content << skill.name %>
				<%- if not(person.skills.last==skill) %>
				  <%- content << ", " %>
				<%- end %>
			  <%- end %>
			  <%= truncate(content, 40)%>
			<%- end %>
			</p>
		</td>
	</tr>
	<tr>
		<td class="count_common" colspan="2">
				<%- if person.admin? or current_person.admin? %>
				  <%- if person.common_connections_with(current_person).count>0 %>
					<%= pluralize(person.common_connections_with(current_person).count, "common contact") %>
				  <%- end%>
				<%- else %>
					<%- if person.common_connections_with(current_person).count-1 > 0 %>
    					<%= pluralize(person.common_connections_with(current_person).count-1, "common contact") %>
					<%- else%>
		  				&nbsp;
					<%- end %>
				<%- end %>
		</td>
 	</tr>
	</table>
<% if person.id%4 == 0 or person.id == person.max %>
  </tr>
<% end %>