<%- if logged_in? -%>
    <h4>COMMENTS WALL</h4>
  <div class="wall">
    <a name="wall"></a>
    <div id="wall_form" >
    <%- if connected_to?(@person) -%>
      <div id="wall_title">
		Leave a comment for my portfolio<br>
		<%= image_tag "comment.gif" %>
	  </div>
      <% form_for :comment, :url => person_comments_path(@person) do |f| %>
        <div id="wall_textarea">
          <%= f.text_area :body, :rows => 5 %>
        </div>
  
        <div id="wall_button">
          <%= submit_tag "Submit", :class => "button" %>
        </div>
      <% end %>
    <%- else -%>
      <p>
      You must be connected to <%= h @person.name %> to leave a wall comment.
      </p>
      <p>
      <%= link_to "Connect with #{h @person.name} now",
                  person_connections_path(@person), :method => :post %>
      </p>
    <%- end -%>
    </div>
    <%- unless @person.comments.empty? -%>
      <ul class="list comments full">
        <%= render :partial => 'comment', :collection => @person.comments %>
      </ul>
    <%- end -%>
  </div>
<%- end -%>