-column_div :type => :primary do
  #data_title
    %h4 MY PERSONAL INFORMATIONS

  #profile_edit

    = error_messages_for :person
    #legend
      =image_tag "mandatory.gif"
      Mandatory fields
    -form_for @person do |f|

      .form_row
        %label{ :for => "person_birthdate" } Birth Date:
        = f.date_select :birthdate, :order => [:day, :month, :year], :start_year => 1900, :end_year => Date.today.year
        =image_tag "mandatory.gif", :class => "mandatory"

      #gender
        %label{ :for => "person_gender_man" } Man:
        = f.radio_button :gender, "man"
        %label{ :for => "person_gender_woman" } Woman:
        = f.radio_button :gender, "woman"
        =image_tag "mandatory.gif", :class => "mandatory"

      .form_row
        %label{ :for => "person_first_name" } First Name:
        = f.text_field :first_name
        =image_tag "mandatory.gif", :class => "mandatory"

      .form_row
        %label{ :for => "person_name" } Last Name:
        = f.text_field :name, :maxlength => Person::MAX_NAME
        =image_tag "mandatory.gif", :class => "mandatory"


      .form_row
        %label{ :for => "person_email" } Email:
        = f.text_field :email, :maxlength => Person::MAX_EMAIL
        =image_tag "mandatory.gif", :class => "mandatory"

      .form_row
        %label{ :for => "person_adress" } Address:
        = f.text_field :address
      
      .form_row
        %label{ :for => "person_zipcode" } Zipcode:
        = f.text_field :zipcode
      
      .form_row
        %label{ :for => "person_city" } City:
        = f.text_field :city

      -if global_prefs.email_notifications?
      
        %h3 Email notification preferences

        .form_row
          You will receive email notifications
          for each event type whose box is checked.


        .form_row
          %p
            %label{ :for => "connection_notifications", :class => "checkbox" } Connections:
            = f.check_box :connection_notifications
          %p
            %label{ :for => "message_notifications", :class => "checkbox" } Messages:
            = f.check_box :message_notifications
          %p
            %label{ :for => "wall_comment_notifications", :class => "checkbox" } Wall comments:
            = f.check_box :wall_comment_notifications
          %p
            %label{ :for => "blog_comment_notifications", :class => "checkbox" } Blog comments:
            = f.check_box :blog_comment_notifications
      
      %br
  
      .form_row
        = f.submit "Update", :class => "button"
        = f.submit "Preview", :id => "preview", :class => "button"

      %input{ :type => "hidden", :name => "type", :value => "info_edit"}

    #subtabs
      =link_to "About you", { :action => :about }, { :id => "about" }
      %h4#cv CV and skills
      %h4#contact Contacts data
      %h4#notification Notification options

    #personal_content
      -form_for @person do |f|
        .form_row
          %label{ :for => "person_website" } Website:
          = f.text_field :website

        .form_row    
          -unless @preview.nil?
            = display @preview
        
          %p
            %label{ :for => "person_description" } Description:
            %br
            = f.text_area :description
            %br
            = formatting_note
      
      #photo
        =render :partial => "photo"
        = button_to "Add a photo", new_photo_path, :id => "newphoto"

  =image_tag "personaldata_bottom.gif"