- column_div :type => :primary do
  #profile
    =image_tag "profile_top.gif"
    #profile_details
      = image_tag @person.profile, :id => "profile_image", :alt => h(@person.name)
      #details
        %b
          =h @person.first_name
          %p
            =h @person.name
        =image_tag @person.gender_image
        \,
        =pluralize(@person.age, "year")
        %br
        =h @person.city

      #stats
        =pluralize(10, "project")
        %br
        =pluralize(@person.contacts.count, "contact")
        %br
        =pluralize(420, "total view")
        %br
        =pluralize(102, "total vote")
        %br
        =pluralize(6, "contest's participation")
        %br
        =pluralize(2, "contest's win")
        %br
        3 contest's "top 5"

      =render :partial => 'actions'

    = image_tag "profile_bottom.gif"

    = display @person.description
    = render :partial => 'recent_activity'
    = render :partial => 'wall'

-column_div :type => :secondary do
  #minifeed
    = render :partial => 'shared/minifeed'
  -if logged_in?
    = render :partial => 'shared/contacts_preview', :locals => { :person => @person }
    = render :partial => 'common_contacts'