=render :partial => 'people/profile'
-if not params[:tab] or params[:tab] == 'profile'
  #right
    .profile_right_column
      %h4 DESCRIPTION
      -if @person.description?
        #description_content
          %p
            = truncate(@person.description, 400)
          -if current_person?(@person)
            .profile_edit
              =link_to image_tag("icons/mini_edit.gif") + "Edit", editprofile_path(@person, "about") + "#person_description"
      -else
        .column_content
          -if current_person?(@person)
            .add
              =link_to image_tag("portfolio/add.gif"), editprofile_path(@person, "about") + "#person_description"
              %br
              =link_to "Add a description", editprofile_path(@person, "about") + "#person_description"
          -else
            %p
              No description.

    .profile_right_column
      %h4 STATUS
      .column_content
        %p
          -if @person.status
            / -if current_person?(@person)
            /   =select :p, :status, ["Working", "Studying", "Looking for a job", "Looking for a partner"]
            /   /Status selected by clicking on status option
            / -else
            = display(@person.status)
            -if current_person?(@person)
              .profile_edit
                =link_to image_tag("icons/mini_edit.gif") + "Edit", editprofile_path(@person, "about") + "#p_status"
          -else
            -if current_person?(@person)
              .add
                =link_to image_tag("portfolio/add.gif"), editprofile_path(@person, "about") + "#p_status" #"#person_status"
                %br
                =link_to "Set status", editprofile_path(@person, "about") + "#p_status" #"#person_status"
            -else
              No status.

    .profile_right_column
      %h4 WEBSITE
      .column_content
        %p
          -if @person.website?
            = link_to @person.website, "http://" + @person.website, :target => :blank
            -if current_person?(@person)
              .profile_edit
                =link_to image_tag("icons/mini_edit.gif") + "Edit", editprofile_path(@person, "about") + "#person_website"
          -else
            =display_empty_field("website", "about")

    .profile_right_column
      %h4 LANGUAGES
      .column_content
        %p
          -if @person.languages.length >0
            =@person.languages.collect{|language| language.name}.join(", ")
            -if current_person?(@person)
              .profile_edit
                =link_to image_tag("icons/mini_edit.gif") + "Edit", editprofile_path(@person, "education") + "#person[language_ids][]"
          -else
            =display_empty_field("languages", "education")

    .profile_right_column
      %h4 SOFTWARE
      .column_content
        %p
          -if @person.softwares.length >0
            =@person.softwares.collect{|software| software.name}.join(", ")
            -if current_person?(@person)
              .profile_edit
                =link_to image_tag("icons/mini_edit.gif") + "Edit", editprofile_path(@person, "education") + "#person[software_ids][]"
          -else
            =display_empty_field("software", "education")

    .profile_right_column
      %h4 CV
      .column_content
        %p
          -if @person.cv?
            #cv
              =link_to image_tag("portfolio/logoPDF.jpg") #, person_cv_path
              %br
              =link_to "My CV"
            =link_to image_tag("portfolio/get_adobe.jpg"), "http://www.adobe.fr/products/acrobat/readstep2.html"
            -if current_person?(@person)
              .profile_edit
                =link_to image_tag("icons/mini_edit.gif") + "Edit", editprofile_path(@person, "education") + "#person_cv"
          -else
            =display_empty_field("cv", "education")

    .profile_right_column
      %h4 TAGS
      .column_content
        %p
          -if @person.tags.first
            = @person.tags.collect{|t| t.name}.join(", ")
            -if current_person?(@person)
              .profile_edit
                =link_to image_tag("icons/mini_edit.gif") + "Edit", editprofile_path(@person, "about") + "#p_tags"#"#person_tags"
          -else
            =display_empty_field("tags", "about")

  #projects
    -if current_person?(@person)
      -if @draftprojects.size == 0 && @publishedprojects.size == 0
        %p.fullPad20
          You have no project created for the moment.
          %br/
          Use Coaliz to upload your creations and share them with others by pushing the button 
          =link_to "New Project", choose_person_projects_path(current_person)
          on the right of the page.
          %br/
          At any moment you can edit your projects by pushing this button.
      -else
        %h4 DRAFT PROJECTS
        -per_line = 3
        #my_projects
          =render :partial => 'projects/projects_list', :locals => {:per_line => per_line, :projects => @draftprojects}
        
        %h4 PUBLISHED PROJECTS
        -per_line = 3
        #my_projects
          =render :partial => 'projects/projects_list', :locals => {:per_line => per_line, :projects => @publishedprojects} 

-elsif params[:tab] == 'news'
  -if current_person?(@person)
    #feed_requests
      #minifeeds
        = render :partial => 'shared/minifeed'
-elsif params[:tab] == 'network'
  -if current_person?(@person)
    #personal_requests
      = render :partial => "requested_contacts"
  -if logged_in?
    #contacts.clearfix
      #contact_preview.clearfix
        =render :partial => 'shared/contacts_preview'#, :locals => { :person => @person }
      -if !current_person?(@person)
        #common_contacts
          =render :partial => 'common_contacts'
-elsif params[:tab] == 'wall'
  = render :partial => 'wall'
