- column_div :type => :primary do
  =image_tag "profile_top.gif"
  #profile
    = h @person.name
      -if admin? and not @person.active?
        %p
          This person is not active
      -if current_person?(@person)
        -if current_person.description.blank?
          %p
            Your description is blank.
            = link_to "Click here to add a description", edit_person_path(@person)
        -else
          .notice
            You are viewing your own profile.
            = link_to "Click here to edit it", edit_person_path(@person)
      .toolbox
        = image_tag @person.main_photo, :class => "profile-image photo", :alt => h(@person.name)
  
        -unless current_person?(@person)
          %ul.tools
          -if logged_in?
            -unless Connection.exists?(@person, current_person)
              %li
                = link_to "Connect with #{h @person.name}!", person_connections_path(@person), :method => :post
            -if Connection.connected?(@person, current_person)
            %li
              = h @person.name
              is one of your contacts
              %br
              (
              = link_to "end connection", connection_path(Connection.conn(current_person, @person)), :method => :delete, :confirm => "Are you sure you want to end connection with #{h @person.name}?"
              )
            %li
              = email_link @person
            %li
              = link_to "#{h @person.name}'s blog", blog_path(@person.blog)
            - if current_person.admin?
            %li
            - activity = @person.deactivated? ? "activate" : "deactivate"
            = link_to activity, admin_person_path(@person, :task => "deactivated"), :method => :put
        
        -if current_person?(@person) and current_person.admin?
          %ul.tools
            %li
              = email_link @person
              to everyone
    = display @person.description

  = render :partial => 'recent_activity'
  = render :partial => 'wall'
-end

-column_div :type => :secondary do
  = render :partial => 'shared/minifeed'
  -if logged_in?
    = render :partial => 'shared/contacts_preview', :locals => { :person => @person }
    = render :partial => 'common_contacts'