- column_div :type => :primary do
  -if current_person?(@person)
    = stylesheet_link_tag "current_profile"
  #profile
    =image_tag "profile_top.gif"
    #profile_details
      = image_tag @person.profile, :id => "profile_image", :alt => h(@person.name)
      %table#details
        %tr
          %td#infos
            %p
              %b
                =h @person.first_name
                =h @person.name
            =image_tag @person.gender_image
            ,
            =pluralize(@person.age, "year")
            %br
            -if @person.city
              =h @person.city.capitalize
              ,
            -if @person.origin_country
              =h @person.origin_country.name
        %tr
          %td#skills
            -if not(@person.skills)
              -for skill in @person.skills do
                =skill.name
                -if not(@person.skills.last == skill)
                  %br
            -else
              -if current_person?(@person)
                =link_to "Add skills", edit_person_path(@person) + "#person[skill_ids][]"

      #stats
        %p
          =pluralize(10, "project")
          %br
          =pluralize(@person.contacts.count, "contact")
          %br
          =pluralize(420, "total view")
          %br
          =pluralize(102, "total vote")


      =render :partial => 'actions'
    = image_tag "profile_bottom.gif"

  #my_page
  
    #tabs
      -if current_person?(@person)
        %ul.clearfix.yellow
          -if not params[:tab] or params[:tab] == 'page'
            %li.current
              =link_to 'My page', person_url(@person, :tab => 'page') 
          -else
            %li
              =link_to 'My page', person_url(@person, :tab => 'page') 
          -if params[:tab] == 'news'
            %li.current
              =link_to 'My news', person_url(@person, :tab => 'news')
          -else
            %li
              =link_to 'My news', person_url(@person, :tab => 'news')
          -if params[:tab] == 'contacts'
            %li.current
              =link_to 'My contacts', person_url(@person, :tab => 'contacts')
          -else
            %li
              =link_to 'My contacts', person_url(@person, :tab => 'contacts')
          -if params[:tab] == 'favorites'
            %li.current
              =link_to 'My favorites', person_url(@person, :tab => 'favorites')
          -else
            %li
              =link_to 'Mes commentaires', person_url(@person, :tab => 'favorites')
          -if params[:tab] == 'groups'
            %li.current
              =link_to 'My groups', person_url(@person, :tab => 'groups')
          -else
            %li
              =link_to 'My groups', person_url(@person, :tab => 'groups')
          -if params[:tab] == 'comments'
            %li.current
              =link_to 'My comments', person_url(@person, :tab => 'comments')
          -else
            %li
              =link_to 'My comments', person_url(@person, :tab => 'comments')
        
        
      -else
        %ul.clearfix.green
          %li.current
            =link_to 'His page', person_url(@person, :tab => 'page')
          %li
            =link_to 'His contacts', person_url(@person, :tab => 'contacts')
          %li
            =link_to 'His favorites', person_url(@person, :tab => 'favorites')
          %li
            =link_to 'His groups', person_url(@person, :tab => 'groups')
          %li
            =link_to 'His comments', person_url(@person, :tab => 'comments')

    -if not params[:tab] or params[:tab] == 'page'
      #right
        .profile_right_column
          %h4 DESCRIPTION
          -if @person.description?
            #description_content
              %p
                = truncate(@person.description, 400)
              -if current_person?(@person)
                .profile_edit
                  =link_to image_tag("icons/mini_edit.gif") + "Edit", edit_person_path(@person) + "#person_description"
          -else
            .column_content
              -if current_person?(@person)
                .add
                  =link_to image_tag("portfolio/add.gif"), edit_person_path(@person) + "#person_description"
                  %br
                  =link_to "Add a description", edit_person_path(@person) + "#person_description"
              -else
                %p
                  No description.
    
        .profile_right_column
          %h4 STATUS
          .column_content
            %p
              -if false#@person.status
                -if current_person?(@person)
                  =select :p, :status, ["Working", "Studying", "Looking for a job", "Looking for a partner"]
                  /Status selected by clicking on status option
                -else
                  = display(@person.status)
              -else
                -if current_person?(@person)
                  .add
                    =link_to image_tag("portfolio/add.gif"), edit_person_path(@person) + "#p_status" #"#person_status"
                    %br
                    =link_to "Set status", edit_person_path(@person) + "#p_status" #"#person_status"
                -else
                  No status.

        .profile_right_column
          %h4 WEBSITE
          .column_content
            %p
              -if @person.website?
                = link_to @person.website, "http://" + @person.website
                -if current_person?(@person)
                  .profile_edit
                    =link_to image_tag("icons/mini_edit.gif") + "Edit", edit_person_path(@person) + "#person_website"
              -else
                =display_empty_field("website")
  
        .profile_right_column
          %h4 LANGUAGES
          .column_content
            %p
              -if @person.languages
                =@person.languages.collect{|language| language.name}.join(", ")
                -if current_person?(@person)
                  .profile_edit
                    =link_to image_tag("icons/mini_edit.gif") + "Edit", edit_person_path(@person) + "#person[language_ids][]"
              -else
                =display_empty_field("languages")

        .profile_right_column
          %h4 SOFTWARE
          .column_content
            %p
              -if @person.softwares
                =@person.softwares.collect{|software| software.name}.join(", ")
                -if current_person?(@person)
                  .profile_edit
                    =link_to image_tag("icons/mini_edit.gif") + "Edit", edit_person_path(@person) + "#person[software_ids][]"
              -else
                =display_empty_field("software")
    
        .profile_right_column
          %h4 CV
          .column_content
            %p
              -if @person.cv?
                #cv
                  =link_to image_tag("portfolio/logoPDF.jpg") #, person_cv_path
                  %br
                  =link_to "My CV"
                =link_to image_tag("portfolio/get_adobe.jpg"), "http://www.adobe.fr/products/acrobat/readstep2.html"
                -if current_person?(@person)
                  .profile_edit
                    =link_to image_tag("icons/mini_edit.gif") + "Edit", edit_person_path(@person) + "#person_cv"
              -else
                =display_empty_field("cv")


        .profile_right_column
          %h4 TAGS
          .column_content
            %p
              -if @person.tags.first
                = @person.tags.collect{|t| t.name}.join(", ")
                -if current_person?(@person)
                  .profile_edit
                    =link_to image_tag("icons/mini_edit.gif") + "Edit", edit_person_path(@person) + "#p_tags"#"#person_tags"
              -else
                =display_empty_field("tags")

      #projects
        %h4 MY PROJECTS
        -per_line = 3
        #my_projects
          =render :partial => 'projects/projects_list', :locals => {:per_line => per_line} 

    -elsif params[:tab] == 'news'
      -if current_person?(@person)
        #feed_requests
          #minifeeds
            = render :partial => 'shared/minifeed'
    -elsif params[:tab] == 'contacts'
      -if current_person?(@person)
        #personal_requests
          = render :partial => "requested_contacts"
      -if logged_in?
        #contacts
          #contact_preview
            =render :partial => 'shared/contacts_preview'#, :locals => { :person => @person }
          -if !current_person?(@person)
            #common_contacts
              =render :partial => 'common_contacts'
    -elsif params[:tab] == 'comments'
      = render :partial => 'wall'