<h1><%= _("New creation") %></h1>

<%= error_messages_for :creation %>

<% form_for(@creation, :url => person_project_creation_path(current_person, @project, @creation), :html => { :multipart => true }) do |f| %>
  <p>
    <b><%= _("Set up Assets handling") %></b><br />
    <b><%= _("Image") %></b>
    <%= error_messages_for :assets %>
    <% fields_for :asset do |a| %>
      <%= a.file_field :item %>
    <% end %>
  </p>

  <p>
    <%= f.submit _("Create") %>
  </p>
<% end %>

<%= link_to 'Back', person_project_creations_path %>
