<h2><%= _("Editing topic") %></h2>

<%= error_messages_for :topic %>

<% form_for :topic, :url => forum_topic_path(@forum, @topic),
            :html => { :method => :put} do |f| %>
  <p>
    <b><%= _("Forum") %></b><br />
    <%= f.text_field :forum_id %>
  </p>

  <p>
    <b><%= _("Person") %></b><br />
    <%= f.text_field :person_id %>
  </p>

  <p>
    <b><%= _("Name") %></b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b><%= _("Posts count") %></b><br />
    <%= f.text_field :forum_posts_count %>
  </p>

  <p>
    <%= f.submit _("Update") %>
  </p>
<% end %>

<%= link_to 'Show', forum_topic_path(@forum, @topic) %> |
<%= link_to 'Back', forums_path %>
