<h1><%= _("Editing skill") %></h1>

<%= error_messages_for :skill %>

<% form_for(@skill) do |f| %>
  <p>
    <b><%= _("Name") %></b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit _("Update") %>
  </p>
<% end %>

<%= link_to 'Show', @skill %> |
<%= link_to 'Back', skills_path %>
