<h1>Editing skill</h1>

<%= error_messages_for :skill %>

<% form_for(@skill) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_area :title %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @skill %> |
<%= link_to 'Back', skills_path %>
