<h4>CONTACTS</h4>
<div id="contacts_small">
  <%- if @some_contacts.empty? -%>
  	<p id="nocontact">No contact</p>
  <%- else %>
  	<table>
      <%- @some_contacts.in_groups_of(4) do |row| -%>
      	<tr>
      	<%- row.each do |contact| %>
      	  <%- if contact -%>
            <td class="thumb">
              <div class="fl">
       			  <%= image_link( contact, :image => :thumbnail,
                           						:image_options => { :class => "photo fn" },
                           						:link_options =>  { :class => "url" },
                           						:link => profile_path(contact, "profile")) %>
   						<%- if current_person?(@person) and not(current_person.admin?) %>
    						<div class="delete">
    						  <%= link_to image_tag ("icons/delete.gif"), connection_path(Connection.conn(current_person, contact)), :method => :delete, :confirm => "Are you sure you want to end connection with #{h contact.first_name} #{h contact.name}?" %>
    							<%= link_to "Delete", connection_path(Connection.conn(current_person, contact)), :method => :delete, :confirm => "Are you sure you want to end connection with #{h contact.first_name} #{h contact.name}?" %>
    						</div>
    					<%- end %>
              </div>
              <div class="fl">
    				  <table>
    				    <tr>
    	  		      <td>
          				  <b><%= person_link contact, :class => "url fn" %></b>
          				</td>
    						</tr>
    						<tr>
    							<td class="add_cell">
    								<%- if logged_in?%>
    									<%- if contact.city and contact.origin_country %>
    									  <%= [contact.city.capitalize, contact.origin_country.name].join(', ') %>
    									<%- elsif contact.origin_country -%>
    										<%= contact.origin_country.name %>
    									<%- else %>
    										&nbsp;
    									<%- end%>
    								<%- end %>
    							</td>
    						</tr>
    						<tr>
    							<td class="person_skill">
    								<p>
    									<%- if contact.skills.empty? %>
    			  							&nbsp;
    									<%- else %>
    			  							<%= truncate(contact.skills.collect{|u| u.name}.join(", "), 40) %>
    									<%- end %>
    								</p>
    							</td>
    						</tr>
    					</table>

      				  </div>
          		</td>
          	<%- end -%>
        	<%- end -%>
          </tr>
      	<%- end -%>
      </table>
  <%- end -%>
</div>