<div class="w310">
<p>The abuse form</p>
<% form_tag send_abuse_path, :id => "theform", :method => :post do %>
  <p>
    <label>Email</label>
    <%= text_field :abuse, :email %>
  </p>
  <p>
    <label>Message</label><br/>
    <%= text_area :abuse, :message, :rows => 5, :cols => 30 %>
  </p>
  <%= hidden_field_tag :item, nil, :value => params[:item] -%>
  <%= hidden_field_tag :id, nil, :value => params[:id] -%>
  
  <%= submit_tag "Envoyer" %>
  
  <!-- <a href="<%= send_abuse_path %>" params="lightwindow_form=theform,lightwindow_type=page" class="lightwindow_action" rel="submitForm"><button>Submit</button></a>  -->
  <a href="#" class="lightwindow_action" rel="deactivate">Cancel</a>
  
<% end %>




</div>