<%= error_messages_for :project %>
<div id="project">
	<h4>Editing project</h4>
	<div id="project_global" >
	  
	  <div id="projecttabs" class="clearfix">
	    <ul class="clearfix yellow">
  	    <%= tab_to "Settings", editproject_path(current_person, @project, "settings"), :class => "current" %>
        <%= tab_to "Content", editproject_path(current_person, @project, "content"), :class => "current" %>
        <%= tab_to "Copyrights", editproject_path(current_person, @project, "copyrights"), :class => "current" %>
      </ul>
	  </div>
	  <% case @part
	     when "settings" %>
  		<div id="project_edition" >
    		<% form_for(@project, :url => person_project_path(current_person, @project)) do |f| %>
      		<p id="project_desc" >
        		Description of your project:<br />
        		<%= f.text_area :description %>
      		</p>

      		<p id="title" >
        		Title of your project: <%=image_tag "portfolio/mandatory.gif", :class => "mandatory"%><br />
        		<%= f.text_field :title %>
      		</p>

        	<p id="categories" >
    			  Categories: <%=image_tag "portfolio/mandatory.gif", :class => "mandatory"%>
    		  </p>
			
      		<table>
       			<% Skill.find(:all).in_groups_of(2) do |row| %>
       			  <tr>
       			    <% row.each do |skill| %>
       			      <% if skill %>
              	    <td>
                 			<label> <%= skill.name %>
                 			<%= check_box_tag "project[skill_ids][]", skill.id, @project.skills.include?(skill) %></label>
              			</td>
              		<% end %>
              	<% end %>
       			<%- end %>
      		</table>
		
          <p id="tags">
            <label>Tag your project (separate with ","):</label>
            <span><%= f.text_field :tag_list, :default => @project.tags.collect{|t| t.name}.join(", ") %></span>  
          </p>

      	  <p id="status" >
          	Status of your project: <%=image_tag "portfolio/mandatory.gif", :class => "mandatory"%><br />
            <%= f.select :state, ["draft", "published"] %>
        	</p>

      		<table class="buttons" >
      				<tr>
      				  <td><%= submit_tag 'Save' %></td>
      				  <td><%= link_to button_to("Cancel"), :back %></td>
      				</tr>
      		</table>
    		
    		<% end %>
  		</div>
		<% when "content" %>
  		<h3>New creation</h3>

  		<%= error_messages_for :creation %>

  		<p id="project_header">
  			Header of your project:
  			<%- if @project.creations.first.nil? %>
          <span id="preview_empty">&nbsp;</span>
        <%- else %>
          <%= image_tag @project.creations.first.asset.item.url(:preview), { :id => "preview"} %>
        <%- end %>
  		</p>

  		<% form_for(@creation, :url => person_project_creation_path(current_person, @project, @creation), :html => { :multipart => true }) do |f| %>
    		<p id="label_new_creation">Select a file to upload on your project:</p>
      		<%= error_messages_for :asset %>
      		<%- fields_for :asset do |a| %>
        			<%= a.file_field :item %>
        			<%#= f.file_field :asset %>
        			<!-- <input type="file" id="creation_asset_item" name="creation[asset][item]" /> -->
      		<%- end %>

    		<p id="terms_content">
    			<span>I certify Iown all the rights on the content I'm uploading and this content respects the
    			<%= link_to "Terms of Use", "terms_of_use",{:id => "terms"} %> of Coaliz</span>
    			<%#= f.radio_button :p, :terms %>
    		</p>
        <br>
    		<p class="buttons">
      		<%= f.submit "Create" %>
    		</p>
  		<% end %>
  		<p>
        Maximum size: 5Mo<br>
        Files type: jpeg, tiff, gif, png
      </p>
    
      <p id="previews">Content of your project: (drag and drop to reorganize)</p>
      <table>
        <%- unless @project.creations.nil? %>
          <% @project.creations.in_groups_of(6) do |row| %>
            <tr>
              <% row.each do |crea| %>
                <% if crea %>
                  <td>
                      <%= link_to(image_tag(crea.asset.url(:tiny)), person_project_creation_path(current_person, @project, crea)) %>
                     <%= link_to image_tag("icons/trash.gif") + "delete", person_project_creation_path(current_person, @project, crea), :confirm => 'Are you sure?', :method => :delete, :class => "del" %>
                  </td>
                <% else %>
                  <td>
                    <%=image_tag "defaults/minipreview.gif", :class => "img_preview" %>
          		      <br>
          		      &nbsp;
                  </td>
                <% end %>
              <% end %>
            </tr>
          <%- end %>  
          <tr>
            <% 6.times do %>
              <td>
                <%=image_tag "defaults/minipreview.gif", :class => "img_preview" %>
      		      <br>
      		      &nbsp;
              </td>
            <% end %>
          </tr>
        <%- end %>
      </table>
    <% when "copyrights" %>
      <p>
        <div class="bot20"><%= @project.common.label %></div>
        <%= cc_icons(@project.common) %>
      </p>
      
      <% form_for(@project, :url => person_project_path(current_person, @project)) do |f| %>
        <label>Want to change ?</label>
        <%= f.select :creative_common_id, CreativeCommon.find(:all).map{|obj| [obj.label,obj.id]} %>
        <%= observe_field "project_creative_common_id", :update => "cc_details",
        :with => "'id='+ escape(value)", :url => {:action => "cc_detail" } %>
        <%= submit_tag 'Save' %>
      <% end %>
      
      <div id="cc_details">
      
      </div>
    <% else %>
      <p>
        Please choose a correct tab
      </p>
    <% end %>
		</div>
</div>