<h1>Editing project</h1>

<%= error_messages_for :project %>

<% form_for(@project, :url => person_project_path(current_person, @project)) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b>Views</b><br />
    <%= f.text_field :views %>
  </p>
  
  <p>
    <b>Licence</b><br />
    <%= f.text_area :licence %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', person_project_path(current_person, @project) %> |
<%= link_to 'Back', person_projects_path %>
