<%= error_messages_for :project %>
<div id="project">
	<h4>Editing project</h4>
	<div id="project_global" >
		<div id="project_edition" >
		<% form_for(@project, :url => person_project_path(current_person, @project)) do |f| %>
  		<p id="project_desc" >
    		Description of your project:<br />
    		<%= f.text_area :description %>
  		</p>

  		<p id="title" >
    		Title of your project: *<br />
    		<%= f.text_field :title %>
  		</p>

		<table>
  			<%- i=0 %>
    		<p id="categories" >Categories: *</p>
 			<% for skill in Skill.find(:all) %>
     			<%- if i%2==0 %>
        			<tr>
     			<%- end %>
        			<td>
           				<label> <%= skill.name %>
           				<%= check_box_tag "project[skill_ids][]", skill.id, @project.skills.include?(skill) %></label>
        			</td>
     				<%- i+=1 %>
 			<%- end %>
		</table>
		
    <p id="tags">
      <label>Tags of your project (separate with comma ','):</label>
      <span><%= f.text_field :tag_list, :default => @project.tags.collect{|t| t.name}.join(", ") %></span>  
    </p>
		
		
		
      <!-- <p id="tags" >
        Tags of your project:<br />
            (separate each tag with ",")<br />
        <%= text_field :p, :tags %>
      </p> -->

		<% end %>
		<table class="buttons" >
				<tr>
				  <td><%= link_to button_to('Show'), person_project_path(current_person, @project) %></td>
				  <td><%= link_to button_to("Cancel"), :back %></td>
				</tr>
		</table>
		</div>
		<h4>New creation</h4>

		<%= error_messages_for :creation %>

		<p id="project_header">
			Header of your project:
			<%= image_tag @project.creations.first.asset.item.url(:preview), { :id => "preview"} %>
		</p>

		<% form_for(Creation.new, :url => person_project_creation_path(current_person, @project, Creation.new), :html => { :multipart => true }) do |f| %>
  		<p id="new_creation">Select a file to upload on your project:</p>
    		<%= error_messages_for :assets %>
    		<% fields_for :asset do |a| %>
      			<%= a.file_field :item %>
    		<% end %>

		<p id="terms_content">
			<span>I certify Iown all the rights on the content I'm uploading and this content respects the
			<%= link_to "Terms of Use", "terms_of_use",{:id => "terms"} %> of Coaliz</span>
			<%= f.radio_button :p, :terms%>
		</p>
<br>
  		<p class="buttons">
    		<%= f.submit "Create" %>
  		</p>

		<% end %>
		</div>
</div>