<%= error_messages_for :project %>
<div id="project">
	<h4>New project</h4>
	<div id="project_global" >
    <div id="choose_project" class="clearfix">
      <%- form_for current_person, :html => {:class => "fl"} do |f| %>
        Select one of your existing projects:<br />
        <%= f.collection_select :projects, current_person.projects, :id, :title %>
        <%- disabled = false %>
        <%- unless current_person.projects.first %>
          <%- disabled = "disabled" %>
        <%- end %>
        <%= f.submit "Edit", :disabled => disabled %>
        <input type="hidden", name ="type", value ="project_edit" >
      <%- end %>
      <%= link_to image_tag("projects/delete_project.gif"), projects_path(),  :class => "fr" %>
      <%= link_to image_tag("projects/create_project.gif", :id => "create"), new_person_project_path(current_person), :class => "fr" %>
    </div>


    <!-- <div id="projecttabs" class="clearfix">
      <ul class="clearfix yellow">
        <%= tab_to "Settings", editproject_path(current_person, @project, "settings"), :class => "current" %>
        <%= tab_to "Content", editproject_path(current_person, @project, "content"), :class => "current" %>
        <%= tab_to "Copyrights", editproject_path(current_person, @project, "network"), :class => "current" %>
      </ul>
    </div> -->
	  
		<div id="project_settings" >
		<% form_for(@project, :url => person_projects_path) do |f| %>

  		<p id="project_desc" >
    		Description of your project:<br />
    		<%= f.text_area :description %>
  		</p>

  		<p id="title" >
    		Title of your project: <%=image_tag "portfolio/mandatory.gif", :class => "mandatory"%><br />
    		<%= f.text_field :title %>
  		</p>

		
    	<p id="categories">
			Categories: <%=image_tag "portfolio/mandatory.gif", :class => "mandatory"%>
		</p>
		<table>
 			<% Skill.find(:all).in_groups_of(2) do |row| %>
 			  <tr>
 			    <% row.each do |skill| %>
 			      <% if skill %>
        	    <td>
           			<label> <%= skill.name %>
           			<%= check_box_tag "project[skill_ids][]", skill.id, @project.skills.include?(skill) %></label>
        			</td>
        		<% end %>
        	<% end %>
 			<%- end %>
		</table>
		
  		<p id="tags" >
    		<label for ="person_tag_list"> Tag your project (separate with ","):</label>
          		<%= f.text_field :tag_list, :default => @project.tags.collect{|t| t.name}.join(", ") %>
  		</p>

		<p id="status" >
    		Status of your project: <%=image_tag "portfolio/mandatory.gif", :class => "mandatory"%><br />
    		Published <%= check_box :p, :published %><br />
    		Draft <%= check_box :p, :draft %>
  		</p>

  		<p>
			<table id="buttons" >
				<tr>
				  <td><%= f.submit "Accept" %></td>
				  <td><%= link_to button_to("Cancel"), :back %></td>
				</tr>
			</table>
  		</p>
		<%- end %>
		</div>		
	</div>
</div>
