<%= error_messages_for :project %>
<div id="project">
	<h4>New project</h4>
	<div id="project_global" >
		<span>
  			Select one of your existing projects:<br />
  			<%= collection_select(nil, :projects, current_person.projects , :id, :title) %>
		</span>
		<%= link_to image_tag("projects/create_project.gif", :id => "create") %>
		<%= link_to image_tag("projects/delete_project.gif") %>

		<div id="project_settings" >
		<% form_for(@project, :url => person_projects_path) do |f| %>

  		<div id="left">
  			<p>
    			<b>Title</b><br />
    			<%= f.text_field :title %>
  			</p>
  		</div>

  		<p id="project_desc" >
    		<b>Description</b><br />
    		<%= f.text_area :description %>
  		</p>

  		<p>
			<table>
				<tr>
				  <td><%= f.submit "Accept" %></td>
				  <td><%= link_to button_to("Cancel"), :back %></td>
				</tr>
			</table>
  		</p>
		<% end %>
		</div>
		
		<div id="project_content" >
			<%= render person_project_path(current_person, current_person.projects.first) %>
		</div>
	</div>
</div>
