<%= error_messages_for :project %>
<div id="project">
	<h4>New project</h4>
	<div id="project_global" >


    <div id="projecttabs" class="clearfix">
      <ul class="clearfix yellow">
        <%= tab_to "Settings", newproject_path(current_person, "settings"), :class => "current" %>
        <%#= tab_to "Content", newproject_path(current_person, "content"), :class => "current" %>
        <%#= tab_to "Copyrights", newproject_path(current_person, "network"), :class => "current" %>
      </ul>
    </div>
	  
		<div id="project_settings" >
		<% form_for(@project, :url => person_projects_path) do |f| %>

  		<p id="project_desc" >
    		Description of your project:<br />
    		<%= f.text_area :description %>
  		</p>

  		<p id="title" >
    		Title of your project: <%=image_tag "portfolio/mandatory.gif", :class => "mandatory"%><br />
    		<%= f.text_field :title %>
  		</p>

		
    	<p id="categories">
			Categories: <%=image_tag "portfolio/mandatory.gif", :class => "mandatory"%>
		</p>
		<table>
 			<% Skill.find(:all).in_groups_of(2) do |row| %>
 			  <tr>
 			    <% row.each do |skill| %>
 			      <% if skill %>
        	    <td>
           			<label> <%= skill.name %>
           			<%= check_box_tag "project[skill_ids][]", skill.id, @project.skills.include?(skill) %></label>
        			</td>
        		<% end %>
        	<% end %>
 			<%- end %>
		</table>
		
  		<p id="tags" >
    		<label for ="person_tag_list"> Tag your project (separate with ","):</label>
          		<%= f.text_field :tag_list, :default => @project.tags.collect{|t| t.name}.join(", ") %>
  		</p>

		<p id="status" >
    		Status of your project: <%=image_tag "portfolio/mandatory.gif", :class => "mandatory"%><br />
    		Published <%= check_box :p, :published %><br />
    		Draft <%= check_box :p, :draft %>
  		</p>

  		<p>
			<table id="buttons" >
				<tr>
				  <td><%= f.submit "Accept" %></td>
				  <td><%= link_to button_to("Cancel"), :back %></td>
				</tr>
			</table>
  		</p>
		<%- end %>
		</div>		
	</div>
</div>
