<p>
  <b>Title:</b>
  <%=h @project.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>

<p>
  <b>Views:</b>
  <%=h @project.views %>
</p>

<p>
  <b>User:</b>
  <%=h @project.person_id %>
</p>

<p>
  <b>Licence:</b>
  <%=h @project.licence %>
</p>


<%= link_to 'Edit', edit_person_project_path(current_person, @project) %> |
<%= link_to 'Back', person_projects_path %>
