<div id="show_project">

<div id="right">
	<div class="project_content">
		<%=render :partial => "creations/creation_list" %>
  		<%=image_tag ("desc_bottom.gif") %>
	</div>

	<div class="project_content">
		<%=render :partial => "project_description" %>
  		<%=image_tag ("desc_bottom.gif") %>
	</div>

	<div class="project_content">
		<%=render :partial => "project_data" %>
  		<%=image_tag ("desc_bottom.gif") %>
	</div>
	
	<div class="project_content">
		<%=render :partial => "project_options" %>
  		<%=image_tag ("desc_bottom.gif") %>
	</div>
</div>

<h3><%=h @project.title.upcase %></h3>
<div id="player">There should be a player here... in fact...</div>
<script type="text/javascript">
  var so = new SWFObject('/swf/player.swf','mpl','584','380','9','#000000');
  so.addParam('allowscriptaccess','always');
  so.addParam('allowfullscreen','true');
  so.addParam('wmode','opaque');
  so.addParam('flashvars','&file=<%= formatted_person_project_url(@author, @project, :xml) %>&screencolor=000000&logo=<%= image_path("logo-player.png") %>&playlistsize=100&playlist=right&autostart=true&fullscreen=true&backcolor=000000&frontcolor=000000');
  so.write('player');
</script>

<div class ="playlist_tab">
	<h4>PROJECTS FROM THIS AUTHOR</h4>
	<%- will_paginate @author_projects %>
	<table class="playlist">
		<tr>
			<%- if @author_projects.previous_page %>
				<td class="left"><%= link_to(image_tag('last_project.gif'), :author_page => @author_projects.previous_page)%></td>
			<%- else %>
				<td class="left"><%= image_tag 'last_project_off.gif'%></td>
			<%- end %>
			<td>
			<table>
				<tr>
				<%=render :partial => "projects_playlist", :collection => @author_projects %>
				</tr>
			</table>
			</td>
			<%- if @author_projects.next_page %>
				<td class="right"><%= link_to(image_tag('next_project.gif'), :author_page => @author_projects.next_page)%></td>
			<%- else %>
				<td class="right"><%= image_tag 'next_project_off.gif'%></td>
			<%- end %>
		</tr>
	</table>
</div>

<div class ="playlist_tab">
	<h4>ALL PROJECTS</h4>
	<%- will_paginate @all_projects %>
	<table class="playlist">
		<tr>
			<%- if @all_projects.previous_page %>
				<td class="left"><%= link_to(image_tag('last_project.gif'), :all_page => @all_projects.previous_page)%></td>
			<%- else %>
				<td class="left"><%= image_tag 'last_project_off.gif'%></td>
			<%- end %>
			<td>
			<table>
				<tr>
				<%=render :partial => "projects_playlist", :collection => @all_projects %>
				</tr>
			</table>
			</td>
			<%- if @all_projects.next_page %>
				<td class="right"><%= link_to(image_tag('next_project.gif'), :all_page => @all_projects.next_page)%></td>
			<%- else %>
				<td class="right"><%= image_tag 'next_project_off.gif'%></td>
			<%- end %>
		</tr>
	</table>
</div>
<%= render :partial => 'wall' %>
</div>