<div id="show_project">

<div id="right">
	<div class="project_content">
		<%=render :partial => "creations/creation_list" %>
  		<%=image_tag ("desc_bottom.gif") %>
	</div>

	<div class="project_content">
		<%=render :partial => "project_data" %>
  		<%=image_tag ("desc_bottom.gif") %>
	</div>
</div>

<h3><%=h @project.title.upcase %></h3>
<%=image_tag ("player_preview.jpg", :id =>"player") %>

<div id ="author">
	
</div>
<div id ="all">
	
</div>
<div id ="group">
	
</div>
<div id ="contest">
	
</div>

</div>