<h1><%= _("Editing beta_coupon") %></h1>

<% form_for(@beta_coupon, :url => admin_beta_coupon_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :coupon %><br />
    <%= f.text_field :coupon %>
  </p>
  <p>
    <%= f.submit _("Update") %>
  </p>
<% end %>

<%= link_to 'Show', admin_beta_coupon_path(@beta_coupon) %> |
<%= link_to 'Back', admin_beta_coupons_path %>
