<h1><%= _("New beta_coupon") %></h1>

<% form_for(@beta_coupon, :url => admin_beta_coupons_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :coupon %><br />
    <%= f.text_field :coupon %>
  </p>
  <p>
    <%= f.submit _("Create") %>
  </p>
<% end %>

<%= link_to 'Back', admin_beta_coupons_path %>
