<h1>Editing beta_coupon</h1>

<% form_for(@beta_coupon) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :coupon %><br />
    <%= f.text_field :coupon %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @beta_coupon %> |
<%= link_to 'Back', beta_coupons_path %>
