<h1>Editing asset</h1>

<%= error_messages_for :asset %>

<% form_for(@asset) do |f| %>
  <p>
    <b>Creation</b><br />
    <%= f.text_field :creation_id %>
  </p>

  <p>
    <b>Item content type</b><br />
    <%= f.text_field :item_content_type %>
  </p>

  <p>
    <b>Item file name</b><br />
    <%= f.text_field :item_file_name %>
  </p>

  <p>
    <b>Item file size</b><br />
    <%= f.text_field :item_file_size %>
  </p>

  <p>
    <b>Item</b><br />
    <%= f.text_field :item_id %>
  </p>

  <p>
    <b>Item type</b><br />
    <%= f.text_field :item_type %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @asset %> |
<%= link_to 'Back', assets_path %>
