<h1>Listing assets</h1>

<table>
  <tr>
    <th>Parent</th>
    <th>Content type</th>
    <th>Filename</th>
    <th>Thumbnail</th>
    <th>Size</th>
    <th>Width</th>
    <th>Height</th>
    <th>Item</th>
    <th>Item type</th>
  </tr>

<% for asset in @assets %>
  <tr>
    <td><%=h asset.parent_id %></td>
    <td><%=h asset.content_type %></td>
    <td><%=h asset.filename %></td>
    <td><%=h asset.thumbnail %></td>
    <td><%=h asset.size %></td>
    <td><%=h asset.width %></td>
    <td><%=h asset.height %></td>
    <td><%=h asset.item_id %></td>
    <td><%=h asset.item_type %></td>
    <td><%= link_to 'Show', asset %></td>
    <td><%= link_to 'Edit', edit_asset_path(asset) %></td>
    <td><%= link_to 'Destroy', asset, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New asset', new_asset_path %>
