<p>
  <b><%= _("Creation:") %></b>
  <%=h @asset.creation_id %>
</p>

<p>
  <b><%= _("Item content type:") %></b>
  <%=h @asset.item_content_type %>
</p>

<p>
  <b><%= _("Item file name:") %></b>
  <%=h @asset.item_file_name %>
</p>

<p>
  <b><%= _("Item file size:") %></b>
  <%=h @asset.item_file_size %>
</p>

<p>
  <b><%= _("Item:") %></b>
  <%=h @asset.item_id %>
</p>

<p>
  <b><%= _("Item type:") %></b>
  <%=h @asset.item_type %>
</p>


<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
