<h2><%= _("Profile photo upload") %></h2>
<%= error_messages_for :photo %>

<% form_for @photo, :html => { :multipart => true } do |f| -%>

  <div class="form_field">
    <label for="photo"><%= _("Upload a photo:") %></label>
    <%= f.file_field :uploaded_data %>
  </div>
  <div class="form_field">
    <%= submit_tag 'Upload', :class => _("button") %>
    <%= f.submit "Cancel", :id => "cancel", :class => _("button") %>
  </div>
<% end -%>