<h1><%= _("Editing post") %></h1>

<%= error_messages_for :post %>

<% form_for :post, :url => blog_post_path(@blog, @post),
                   :html => { :method => :put } do |f| %>
  <p>
    <b><%= _("Blog") %></b><br />
    <%= f.text_field :blog_id %>
  </p>

  <p>
    <b><%= _("Topic") %></b><br />
    <%= f.text_field :topic_id %>
  </p>

  <p>
    <b><%= _("Person") %></b><br />
    <%= f.text_field :person_id %>
  </p>

  <p>
    <b><%= _("Body") %></b><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit _("Update") %>
  </p>
<% end %>
