<h1><%= _("New activity") %></h1>

<%= error_messages_for :activity %>

<% form_for(@activity) do |f| %>
  <p>
    <b><%= _("Person") %></b><br />
    <%= f.text_field :person_id %>
  </p>

  <p>
    <b><%= _("Instance") %></b><br />
    <%= f.text_field :instance_id %>
  </p>

  <p>
    <b><%= _("Type") %></b><br />
    <%= f.text_field :type %>
  </p>

  <p>
    <%= f.submit _("Create") %>
  </p>
<% end %>

<%= link_to 'Back', activities_path %>
