<p>
  <b><%= _("Person:") %></b>
  <%=h @activity.person_id %>
</p>

<p>
  <b><%= _("Instance:") %></b>
  <%=h @activity.item_id %>
</p>

<p>
  <b><%= _("Type:") %></b>
  <%=h @activity.item_type %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
