!!!
%html{ :xmlns =>"http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang =>"en"}
  %head
    %meta{ 'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8" }
    %title Coaliz - Community & creative contests
    = stylesheet_link_tag "default"
    = javascript_include_tag :defaults
  %body
    #global

      #header
        %span
          =link_to image_tag ("logo.jpg", :id => "logo"), :action =>"index"
        %span#searchbox
          -form_for (:search, :url => { :action => :index }) do |form|
          %label{ :for =>"p" } Search
          =text_field ("p", :keyword)
          =image_submit_tag ("go.jpg", :id => "go")
          =link_to "Advanced search", { :controller =>"search", :action => "index" }, { :id =>"adv_search" }
          -end

        %span#languages
          -form_for (:language, :url => { :action => :index }) do |form|
          =image_submit_tag ("uk_on.jpg", :id => "uk", :onMouseOver => "this.src = 'images/uk_on.jpg'")
          =image_submit_tag ("fr_off.jpg", :id => "fr", :title => "Coming soon", :onMouseOver => "this.src = 'images/fr_on.jpg'", :onMouseOut => "this.src = 'images/fr_off.jpg'")
          =image_submit_tag ("es_off.jpg", :id => "es", :title => "Coming soon", :onMouseOver => "this.src = 'images/es_on.jpg'", :onMouseOut => "this.src = 'images/es_off.jpg'")
          -end

        #menus
          =link_to "Gallery",{ :controller => "gallery", :action => "index" }, { :id =>"gallery" }
          =link_to "News",{ :controller => "news", :action => "index" }, { :id =>"news" }
          =link_to "My Page",{ :controller => "my_page", :action => "index" }, { :id =>"mypage" }
          =link_to "Creative Contests",{ :controller => "creative_contest", :action => "index" }, { :id =>"creativecontests" }
          =link_to "What is Coaliz ?",{ :controller => "coaliz", :action => "index" }, { :id =>"coaliz" }

      #main
        -if logged_in?
        %span#toolbox
          #login
            Welcome,
            =h current_person.name
            =link_to "Sign out", logout_path
            -if current_person.admin?
              -if admin_view?
                =link_to "Standard view", home_path
              -else
                =link_to "Admin view", admin_preferences_path
        -else
        %span#toolbox
          #signin
            -column_div :type => :primary do
              %h4 Sign in
              -form_tag session_path do
                .form_row
                  %label{ :for => "username" } Email address
                  =text_field_tag ('email', params[:email], :maxlength => Person::MAX_EMAIL)

                =set_focus_to_id "email"
                .form_row
                  %label{ :for => "password" }Password
                  =password_field_tag 'password', params[:password], :maxlength => Person::MAX_PASSWORD

                .form_row
                  %label{ :for => "remember_me", :class =>"checkbox" }Remember me:
                  =check_box_tag 'remember_me', '1', true, :class => "checkbox"

                .form_row
                  = submit_tag 'Sign in', :class => "button"
                  %p
                    or
                    =link_to "Sign up", signup_path

                %p{ :class => "form_row" }
                  = link_to "I forgot my password!", new_password_reminder_path

            -if global_prefs.can_send_mail?
              =link_to "I forgot my password", new_password_reminder_path
            -else
          =link_to image_tag("signup.gif"), signup_path
        %span#toolbox
          #login
            -if !(@person.nil?)
            = render (:partial => "person", :object => @person)
            -else
            %h3 Welcome Anonymous
            -end
          =link_to image_tag ("newproject.jpg"), { :controller =>"newproject", :action => "index" },{ :id => "newproject" }
          #feedback
            #title
              LEAVE A FEEDBACK
            #subtitle
              REPORT A BUG
            #formbody
              -form_for (:feedback, :url => { :action => :index }) do |form|
                %textarea#feedback_message
                #thanks	
                =image_submit_tag ("send.jpg", :id =>"send")
              -end

        %span#content
          =yield
              %textarea#feedback_message
              #thanks	
                =image_submit_tag ("send.jpg", :id =>"send")
                Thank you !
              -end

        %span#content
          =yield
