!!!
%html{ :xmlns =>"http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang =>"en"}
  %head
    %meta{ 'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8" }
    %title Coaliz - Community & creative contests
    = stylesheet_link_tag "default"
    = javascript_include_tag :all
    /[if lt IE 7]
      = stylesheet_link_tag 'ie6.css', :media => 'screen, projection' 
  %body
    #global
      #header
        .clearfix
          %div.fl
            =link_to image_tag("logo.jpg", :id => "logo"), { :controller => "home", :action =>"index" }
          %div#languages.fr
            -form_for(:language, :url => { :action => :index }) do |form|
              =image_submit_tag("flags/uk_on.jpg", :id => "uk", :onMouseOver => "this.src = '/images/flags/uk_on.jpg'")
              =image_submit_tag("flags/fr_off.jpg", :id => "fr", :title => "Coming soon", :onMouseOver => "this.src = '/images/flags/fr_on.jpg'", :onMouseOut => "this.src = '/images/flags/fr_off.jpg'")
              =image_submit_tag("flags/es_off.jpg", :id => "es", :title => "Coming soon", :onMouseOver => "this.src = '/images/flags/es_on.jpg'", :onMouseOut => "this.src = '/images/flags/es_off.jpg'")
          %div#searchbox.fr
            = render :partial => "searches/box", :locals => { :search => @searches }
        = render :partial => "layouts/top_menu.haml"
      #submenus
      #main
        =render :partial => "shared/toolbox"

        #alert
          -flash.each do |key, msg|
            = content_tag :p, msg, :class => "flash #{key}"
        
        %div#content
          =yield
