!!!
%html{ :xmlns =>"http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang =>"en"}
  %head
    %meta{ 'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8" }
    %title Coaliz - Community & creative contests
    = stylesheet_link_tag "default"
    = javascript_include_tag :defaults
    /[if lt IE 7]
      = stylesheet_link_tag 'ie6.css', :media => 'screen, projection' 
  %body
    #alert
      -flash.each do |key, msg|
        = content_tag :p, msg, :class => "flash #{key}"
        
    #global
      =yield